**/bin/*
**/obj/
**/.idea/
**/logs/*
**/cache/*
**/cache-dir/*
*.routerdb
*.osm.pbf
**/testlog.txt
**/*.transitdb
**log.txt
**perf.data**
Itinero.Transit.API.Tests.Functional/testUrls
Itinero.Transit.API.Tests.Functional/rt-cache/*
